<!DOCTYPE html>
{% load static %}
<html>
<head>
    <script src="{% static 'js/generate_sentences.js' %}"></script>
    <script src="{% static 'js/judge_entailment.js' %}"></script>
    <script src="{% static 'js/get_cookie.js' %}"></script>
    <title>Entailment Judgement API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
</head>
<body>
    {% csrf_token %}
    <h1 align="center">Entailment Judgement API</h1>
    <div style="display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4px;">
        <div style="text-align: center;
        width: 50%;">
            <p>
                <button id="invokeGenerationOfSinglePairOfSentences">Conduct entailment judgement for single pair</button>
            </p>
            <p>
                <button id="invokeGenerationOfNultiplePairsOfSentences">Conduct entailment judgement for 5 pairs</button>
            </p>
        </div>
        <div style="text-align: center;
        width: 50%;">
            <p>Results</p>
            <div style="display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 4px;">
                <div id="sentences" style="width: 50%;"></div>
                <div id="results" style="width: 50%;"></div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('invokeGenerationOfSinglePairOfSentences').addEventListener('click', generateSentences);
        document.getElementById('invokeGenerationOfNultiplePairsOfSentences').addEventListener('click', () => generateSentences(true));
    </script>
</body>
</html>
